<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCfsLyC9qiLYACBYQNzH_LUOpKB4ghCkPg</string>
	<key>GCM_SENDER_ID</key>
	<string>902542224006</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.expansesTracker1</string>
	<key>PROJECT_ID</key>
	<string>expensive-tracker-4b263</string>
	<key>STORAGE_BUCKET</key>
	<string>expensive-tracker-4b263.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:902542224006:ios:cbfe09355db3237aeaff07</string>
</dict>
</plist>